<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>

   <!-- 这个属性使 Hibernate 应用为被选择的数据库生成适当的 SQL -->
   <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

   <!-- JDBC 驱动程序类 -->
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

   <!-- Assume test is the database name -->
   <!-- 数据库实例的 JDBC URL -->
   <property name="hibernate.connection.url">jdbc:mysql://47.104.129.243:3306/tuiwen?useUnicode=true&amp;characterEncoding=UTF-8</property>

   <!-- 数据库用户名 --> 
   <property name="hibernate.connection.username">root</property>

   <!-- 数据库密码 --> 
   <property name="hibernate.connection.password">password</property>

   <!-- 是否显示sql -->
   <property name="hibernate.show_sql">true</property>

   <!-- 是否将sql格式化 -->
   <property name="hibernate.format_sql">true</property>

   <!-- 是否自动在数据库中生成表 -->
   <property name="hibernate.hbm2ddl.auto">update</property>
   
   <!-- 数据库连接池的大小 -->
   <property name="connection.pool_size">100</property>
   <!-- 每次从数据库中取出并放到JDBC的Statement中的记录条数。Fetch Size设的越大，读数据库的次数越少，速度越快，Fetch Size越小，读数据库的次数越多，速度越慢-->
   <property name="jdbc.fetch_size">100</property>
   <!--批量插入,删除和更新时每次操作的记录数。Batch Size越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->
   <property name="jdbc.batch_size">23</property>
   <!-- 指定对应数据库的方言，hibernate为了更好适配各种关系数据库，针对每种数据库都指定了一个方言dialect -->  
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
   <!-- Enable Hibernate's automatic session context management -->
   <property name="current_session_context_class">thread</property>
   <!-- 在控制台输出sql语句 -->
   <property name="show_sql">true</property>
   <!-- 在启动时根据配置更新数据库 -->
   <property name="hbm2ddl.auto">update</property>


   <mapping class="com.shi.springmvc.DBbean.userdb"/><!-- 注册我们的实体映射类-->
   <!--指定映射文件为“hibernate/ch1/UserInfo.hbm.xml”-->
   <mapping resource="com/shi/springmvc/DBbean/userdb.hbm.xml"/>
   
   <mapping class="com.shi.springmvc.DBbean.collectiondb"/>
   <mapping resource="com/shi/springmvc/DBbean/collectiondb.hbm.xml"/>
   
   <mapping class="com.shi.springmvc.DBbean.contentdb"/>
   <mapping resource="com/shi/springmvc/DBbean/contentdb.hbm.xml"/>
   
   <mapping class="com.shi.springmvc.DBbean.owuser"/>
   <mapping resource="com/shi/springmvc/DBbean/owuser.hbm.xml"/>
   
   <mapping class="com.shi.springmvc.DBbean.owuserPROD"/>
   <mapping resource="com/shi/springmvc/DBbean/owuserPROD.hbm.xml"/>

</session-factory>
</hibernate-configuration>